body {
    background-color:#363a4f;
    font-family: 'National Park';
}

h1 {
   color:#f0c6c6;
   text-align: center;
}

p {
    color:#cad3f5;
}

ul {
    color: blanchedalmond;
    list-style-type: circle;
}

a {
    color: blanchedalmond
}


.center{
    text-align:center;
    border:1px;
}

.icons{
    display:inline-block;
    margin:5px 5px;
    padding:5px;
    border:1px;
}

.socials {
    text-decoration:none;
}