.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 945px;
}

.frame .overlap-group {
  position: relative;
  height: 945px;
  background-color: #dedbdb;
}

.frame .text-wrapper {
  position: absolute;
  width: 544px;
  top: 97px;
  left: 718px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div {
  position: absolute;
  width: 1063px;
  top: 496px;
  left: 446px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .this-website-is-open {
  position: absolute;
  width: 300px;
  top: 901px;
  left: 1620px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .span {
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
}

.frame .text-wrapper-2 {
  text-decoration: underline;
}

.frame .main-pfp {
  position: absolute;
  width: 205px;
  height: 190px;
  top: 231px;
  left: 875px;
  object-fit: cover;
}

.frame .twitter-youtube {
  position: absolute;
  width: 274px;
  top: 857px;
  left: 853px;
  font-family: "Inria Sans", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
