body {
    background-color: #232136;
    color: #e0def4;
    font-family: 'Inter';
    font-weight: 400;
}

body h1 {
    font-weight: 700;
    font-size: 50px;
}

body a {
    color: #c4a7e7;
    font-size: 20px;
}

body p {
    color: #e0def4;
    font-size: 20px;
}

.center{
    text-align:center;
    border:1px;
}

.icons{
    display:inline-block;
    margin:5px 5px;
    padding:5px;
    border:1px;
}

.socials {
    text-decoration:none;
}

.socials img {
    width: 32px;
    height: 32px;
}

/* THIS IS ABSOLUTELY USEFUL https://css-tricks.com/snippets/css/centering-a-website/ */
#page-wrap {
  position: absolute; 
  left: 50%; 
  width: 800px;
  margin-left: -400px;
  bottom: 40%;
}

#wrapper {
    text-align:center;
    width:100%;
    height:100%;
} 
