.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #ffffff;
  height: 1080px;
  width: 1920px;
}

.frame .overlap-group {
  background-color: #dedbdb;
  height: 1080px;
  position: relative;
}

.frame .you-tube {
  height: 24px !important;
  left: 978px !important;
  position: absolute !important;
  top: 1027px !important;
  width: 24px !important;
}

.frame .style-original-round-false-2 {
  height: 24px !important;
  left: 1057px !important;
  position: absolute !important;
  top: 1027px !important;
  width: 24px !important;
}

.frame .twitter {
  height: 24px !important;
  left: 899px !important;
  position: absolute !important;
  top: 1027px !important;
  width: 24px !important;
}

.frame .text-wrapper {
  color: #000000;
  font-family: "Inria Sans", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 718px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 97px;
  width: 544px;
}

.frame .hello-i-m {
  color: #000000;
  font-family: "Inria Sans", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 446px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 496px;
  width: 1063px;
}

.frame .this-website-is-open {
  color: #000000;
  font-family: "Inria Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 1612px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1028px;
  width: 300px;
}

.frame .span {
  color: #000000;
  font-family: "Inria Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.frame .text-wrapper-2 {
  text-decoration: underline;
}

.frame .main-pfp {
  height: 190px;
  left: 875px;
  object-fit: cover;
  position: absolute;
  top: 231px;
  width: 205px;
}
